<th:block th:fragment="head">
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/css/templatemo-topic-listing.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/datatables.css}">

    <!-- JAVASCRIPT FILES -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.sticky.js}"></script>
    <script th:src="@{/js/click-scroll.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/datatables.js}"></script>
</th:block>