<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <title>공지사항</title>
    <th:block th:replace="~{layout/head :: head}"></th:block>

</head>
<body id="top">
<main>
    <th:block th:replace="layout/header :: header"></th:block>

    <section class="page-title" style="background: linear-gradient(to right, #71AEE8, #77E9CE); padding: 100px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h3> 공지사항 </h3>
                </div>
            </div>
        </div>
    </section>

    <section id="pricing" class="pricing" style="padding-top: 100px;">
        <div class="container" data-aos="fade-up">
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
                <div class="pricing-item featured" style="padding:0;">
                    <form th:action="@{/notice/modify}" method="post">
                        <div class="col-12">
                            <div class="card w-100">
                                <div class="card-body">
                                    <div class="table-responsive project-list">
                                        <table class="table project-table table-centered table-nowrap" style="border: none;">
                                            <tbody>
                                            <tr>
                                                <td style="border: none;">
                                                    <input class="input" id="title" type="text" th:field="*{dto.title}" required placeholder="제목">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border: none;">
                                                    <div id="editor">
                                                        <textarea class="input" id="content" type="text" th:utext="${dto.content}" required th:name="content" placeholder="내용"></textarea>
                                                    </div>
                                                    <script>
                                                        const Editor = toastui.Editor;
                                                        const textarea = document.querySelector('#myTextarea');

                                                        // 숨겨진 textarea 대신에 에디터를 생성할 div 요소를 만듭니다.
                                                        const editorDiv = document.createElement('div');
                                                        editorDiv.id = 'editor';
                                                        textarea.parentNode.insertBefore(editorDiv, textarea);
                                                        textarea.style.display = 'none';  // 숨겨진 textarea

                                                        const editor = new Editor({
                                                            el: editorDiv,
                                                            height: '500px',
                                                            initialEditType: 'markdown',
                                                            previewStyle: 'vertical',
                                                            initialValue: textarea.value  // 초기값을 textarea의 값으로 설정
                                                        });

                                                        // 에디터의 내용이 변경될 때마다 textarea에 값을 업데이트합니다.
                                                        editor.on('change', () => {
                                                            textarea.value = editor.getMarkdown();
                                                        });
                                                    </script>
                                                </td>
                                            </tbody>
                                            <div class="input-group mb-3">
                                                <select name="boardType" id="boardType">
                                                    <option value="NOTICE" th:selected="${boardType == 'NOTICE'}">공지사항</option>
                                                </select>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">작성자</span>
                                                <input type="text" class="form-control"  th:value="${#authentication.principal.name}" readonly>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="btn_group">
                        <input type="submit" value="수정하기" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:replace="layout/footer :: footer"></th:block>

</body>
</html>


<!--
<div class="container">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <form th:action="@{/notice/modify}" method="post">
                <table class="table is-centered is-fullwidth">
                    <tbody>
                    <tr class="border-top">
                        <br>
                        <br>
                        <th class="has-text-centered">제목</th>
                        <td>
                            <input type="hidden" name="no" id="no" th:value="${dto.bno}">
                            <input type="text" name="title" id="title" class="form-control" placeholder="제목 입력"
                                   th:value="${dto.title}"
                                   maxlength="98" required>
                        </td>
                    </tr>
                    <tr class="border-top">
                        <th class="has-text-centered">작성자</th>
                        <td>
                            <input type="text" name="id" id="id" class="form-control" maxlength="98" th:value="${dto.writer}" readonly>
                        </td>
                    </tr>
                    <tr class="border-bottom">
                        <th class="has-text-centered">내용</th>
                        <td>
                            <textarea name="content" class="textarea" id="content" placeholder="내용 입력" rows="8" cols="100"  maxlength="800"  required>
                                [[${dto.content}]]
                            </textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="has-text-centered">
                    <input type="submit" class="button1" value="수정">
                    <input type="reset" class="button2" value="초기화">
                </div>
                <br>
                <br>
                <br>
                <br>
            </form>
        </div>
        <div class="column is-1"></div>
    </div>
</div> -->